
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* color */
    --light-blue:linear-gradient(50deg , rgba(91, 250, 255, 0.76) 50%, #ffffff21 50%);
    --black: black;
    --black-l:linear-gradient(#000000cc , #000000b4);
    --white:white;
    --white-l: rgba(255, 255, 255, 0.8);

    /* fonts */
    --m: 'Montserrat', sans-serif;
    --y:'Yeseva One', cursive;
}

nav .navigation{
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .navigation .logo{
    font-size: 20px;
    color: white;
}
nav .navigation .bars{
    transform: rotate(180deg);
    cursor: pointer;
}

nav .navigation .bars .bar{
    height: 2.5px;
    background-color: white;
    margin: .4rem;
    border-radius: 1rem;
}

nav .navigation .bars .bar-1{
    width: 1.7rem;
}

nav .navigation .bars .bar-2{
    width: 1.2rem;
}

nav .navigation .bars .bar-3{
    width: .7rem;
}

.items{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    height: 90vh;
    overflow: hidden;
    padding: 2rem 0rem;
    z-index: 20;
    width: 0;
    transition: 1s ease-in;
}

.nav_show{
    width: 50vh;
}


.items .nav-link a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: var(--monstrate);
}
.items .nav-link{
    background-color: rgba(255, 255, 255, 0.24);
    margin: 1rem;
    border-radius: 5px;
}
.items .nav-link:hover{
    box-shadow: 1px 3px 10px rgba(53, 53, 53, 0.616);
}



header {
    background:linear-gradient(rgba(0, 0, 0, 0.548) , rgba(0, 0, 0, 0.548)) ,url(../image/guitarist.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

header .name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
}
header .name .intro{
    font-size: 20px;
    font-family: var(--m);
    color: white;
}

header .name .intro h1{
    font-size: 80px;
    font-weight: 700;
}
header .name .but {
    background: rgb(145, 47, 236);
    color: rgb(255, 255, 255);
    padding: .5rem 2rem;
}
header .name .but:hover{
    background:rgb(139, 15, 255) ;
}
header .name .line-text{
    display: flex;
    align-items: center;
}
header .name .line{
    background: rgb(255, 255, 255);
    height: 2px;
    width: 10rem;
    margin-bottom: .7rem;
    margin-left: 1rem;
    animation: stretch 1s ease-in-out forwards;
}
@keyframes stretch{
    from{
        width: 0;
    }
    to{
        width: 10rem;
    }
}

main .sec-1 .main-content{
    margin-top: 10rem;
}

main .sec-1 .main-content h1{
    font-family: var(--y);
    font-size: 50px;
    background: linear-gradient(#9b54df , #4400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .sec-1 .main-content h1.next-1{
    font-family: var(--y);
    font-size: 50px;
    background: linear-gradient(90deg,#741efd , #ff29d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .sec-1 .main-content p{
    font-family: var(--m);
    font-size: 17px;
    color: rgb(66, 66, 66);
}


main section.sec-2{
    margin-top: 10rem;
}
main section.sec-2 .connect{
    font-family: var(--y);
    margin-bottom: 5rem;
    font-size: 60px;
}

main section.sec-2 form label{
    font-family: var(--m);
    font-weight: 500;
}
@keyframes but_anim{
    from{
        background-position: left;
    }
    to{
        background-position: right;
    }
}

footer{
    background: url(../image/main-footer.svg);
    background-position: center;
    background-size: cover;
}
footer .main-footer-box{
    margin-top: 5rem;
    margin-bottom: 10rem;
}
footer .but{
    margin: 2rem 0rem;
}
footer .short-buttom{
    padding: .8rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--black);
    font-family: var(--m);
    font-weight: 600;
    background: black;
    color: white;
}


footer .short-buttom.YouTube i{
 font-size: 20px;
}
footer .short-buttom.instagram i{
    font-size: 20px;
}

footer .copy-right{
    font-family: var(--m);
}



@media only screen and (max-width:800px){
    header {
        background:linear-gradient(60deg , rgba(100, 172, 255, 0.76) 100%, #ffffff00 0%), url(../image/About_page_image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .nav_show{
        width: 100%;
    }
}
@media only screen and (max-width:550px){
    nav .navigation{
        padding: 1rem 5rem;
    }
}

@media only screen and (max-width:400px){
    nav .navigation{
        padding: 1rem 3rem;
    }
    header .name .intro{
        font-size: 15px;
    }
    
    header .name .intro h1{
        font-size: 40px;
    }
    header .name .but {
        padding: .5rem 1.5rem;
    }
}
